:root {
    --white: hsl(100, 100%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --nabu-blue: hsl(205, 100%, 35%);
    --nabu-darkblue: hsl(208, 100%, 20%);
    --nabu-lightblue: hsl(218, 55%, 91%);
    --nabu-orange: hsl(31, 100%, 47%);
    --nabu-darkorange: hsl(31, 100%, 36%);
    --nabu-lightgrey: hsl(56, 21%, 86%);
    --nabu-grey: hsl(0, 0%, 44%);
    --nabu-green: hsl(87, 45%, 49%);
    --nabu-darkgreen: hsl(90, 69%, 23%);
    --nabu-red: hsl(356, 64%, 48%);
    --nabu-darkred: hsl(357, 76%, 31%);
    --nabu-greygreen: hsl(56, 11%, 47%);
    --nabu-lightgreen: hsl(80, 43%, 85%);
    --nabu-yellow: hsl(48, 100%, 50%);
    --nabu-darkyellow: hsl(43, 59%, 45%);
}
