.idea/
/*.sql
!/init.sql

/deployment/workspace/*
!/deployment/workspace/.gitignore
!/deployment/workspace/README.txt
deployment/vendor/

/htdocs/index.php
/htdocs/typo3
/htdocs/typo3temp
/htdocs/fileadmin
/htdocs/FIRST_INSTALL
/var
/vendor
/frontend/node_modules/
/frontend/dist/

.ddev/docker-compose.mutagen.yml

deployment_target/releases/20*
